:root {
  color-scheme: light dark;
  font-family: Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000;
  min-height: 100vh;
  background: none;
  background: url(assets/images/bg-desktop-dark.jpg),
    linear-gradient(hsl(234, 39%, 85%), hsl(234, 39%, 85%));
  background-repeat: no-repeat;
  background-size: contain;
}

.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: hsl(0, 0%, 98%);
  min-height: 100vh;
  background: none;
  color: rgba(255, 255, 255, 0.87);
  background: url(assets/images/bg-desktop-dark.jpg),
    linear-gradient(hsl(235, 21%, 11%), hsl(235, 21%, 11%));
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  padding: 1rem 0;
  cursor: pointer;
}

li {
  list-style: none;
}

@media (max-width: 850px) {
  .light {
    color: #000;
    background: url(assets/images/bg-mobile-dark.jpg),
      linear-gradient(hsl(234, 39%, 85%), hsl(234, 39%, 85%));
    background-repeat: no-repeat;
    background-size: contain;
  }

  .dark {
    color: hsl(0, 0%, 98%);
    background: url(assets/images/bg-mobile-dark.jpg),
      linear-gradient(hsl(235, 21%, 11%), hsl(235, 21%, 11%));
    background-repeat: no-repeat;
    background-size: contain;
  }
}
